@inject IJSRuntime JSRuntime
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Khách Hàng</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            @if (name != null)
            {
                <NavLink class="nav-link" href="viewhoadonkhachhang">
                    <span class="oi oi-home" aria-hidden="true"></span> Hóa Đơn
                </NavLink>
            }

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string name;
    protected override async Task OnInitializedAsync()
    {
        name = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "ten");
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
