@using _3.Admin.IServices;
@inherits LayoutComponentBase
@inject IAllServices services
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
<PageTitle>3.Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {

    private string name;
    protected override async Task OnInitializedAsync()
    {
        if (name != null)
        {
            name = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "ten");
        }
    }
    protected override async Task OnAfterRenderAsync(bool torender)
    {
        if (torender)
        {
            name = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "ten");
            if (name != null)
            {
                await OnInitializedAsync();
            }
            else
            {
                navigation.NavigateTo("/dangnhap");
            }
        }
    }

    private async Task dangxuat()
    {
        await JSRuntime.InvokeAsync<object>("sessionStorage.removeItem", "ten");
        await JSRuntime.InvokeAsync<object>("sessionStorage.removeItem", "idnv");
        await OnInitializedAsync();
        navigation.NavigateTo("/", true);
    }
}